<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mcstok">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/deneme"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/deneme_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.McStok">
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".TedarikciActivity"
            android:exported="false" />
        <activity
            android:name=".StokActivity"
            android:exported="false" />
        <activity
            android:name=".AcilisEkraniActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>